@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Liverpool University</h1>
</div>
<div class="image">
    
        <img src="~/Image/Contuni.jpg" alt="university" />
    
</div>

